body {
    color: rgb(7, 7, 7);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
}
.container {
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}
//====HEADER======
.header {
    @media (max-width: 800px) {
        padding-top: 106px;
    }
    @media (max-width: 480px) {
        padding-top: 162px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        flex-wrap: wrap;
        @media (max-width: 800px) {
            position: fixed;
            top: 0;
            left: 0;
            background-color: #5183f5;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }
        @media (max-width: 480px) {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
    &__logo {
        font-weight: 700;
        font-size: 20px;
        color: #1b1d25;
        padding: 16px 20px;
        margin-left: -20px;
        @media (max-width: 800px) {
            color: white;
            
        }
        &:hover {
            border-radius: 8px;
            background-color: #f1f4f8;
        }
    }
    &__logo-img {
        width: 26px;
        height: 26px;
        object-fit: cover;
    }
    &__logo-title {
    }
    &__img {
    }
}
.menu {
    margin-left: auto;
    @media (max-width: 480px) {
        margin: 0 auto;
    }
    &__list {
        display: flex;
    }
    &__list-item {
        padding: 16px 20px;
        margin: 0 2px;
        border-radius: 8px;
        &:hover {
            background-color: #f1f4f8;
            @media (max-width: 800px){
                background-color: transparent;
            }
        }
        &:last-child {
            margin-right: -18px;
        }
    }
    &__list-link {
        font-size: 19px;
        color: #495057;
        @media (max-width: 800px) {
            color: white;
           
        }
        @media (max-width: 400px){
            font-size: 14px;
        }
    }
}
//===SECTION===ARTICLES====
.articles {
    &__title {
    }
    &__title-link {
        font-size: 12px;
        padding: 7px 10px;
        margin-left: 32px;
        vertical-align: 5px;
        display: inline-block;
        background-color: #f1f4f8;
        border-radius: 8px;
        &:hover {
            background-color: #edeff1;
        }
    }
    &__row {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        margin-bottom: 2px;
        &:hover {
            background-color: #f1f4f8;
            border-radius: 8px;
        }
        @media (max-width: 767px) {
            border-bottom: 2px solid #f1f4f8;
        }
    }
    &__time {
        font-size: 13px;
        padding: 6px 0;
        flex: 0 0 auto;
        margin-right: 16px;
    }
    &__text {
        flex: 1 1 auto;
        font-size: 20px;
        font-weight: 700;
        @media (max-width: 767px) {
            font-size: 17px;
        }
    }
    &__text-new {
        flex: 0 0 auto;
        margin-left: 5px;
        font-size: 13px;
        padding: 6px;
        background-color: #d3f9d8;
        border-radius: 4px;
    }
}
.title {
    color: #343a40;
    font-size: 32px;
    font-weight: 700;
    border-bottom: 4px solid #f1f4f8;
    padding-bottom: 8px;
    margin-bottom: 16px;
    @media (max-width: 767px) {
        border-bottom: none;
        font-size: 25px;
    }
}
.inner {
    margin: 56px 0;
    @media (max-width: 480px) {
        margin-top: 0;
    }
}
//=====SECTION===PROJECTS=====
.projects {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        @media (max-width: 767px) {
            border-bottom: 2px solid #f1f4f8;
        }
    }
    &__img {
    }
    &__title {
        color: #495057;
        font-size: 20px;
        font-weight: 700;
        margin-left: 10px;
        &:hover {
            text-decoration: underline;
        }
    }
    &__content {
    }
    &__text {
        color: #858b93;
    }
    &__link {
        display: flex;
        padding: 8px;
        margin-bottom: 4px;
        margin-left: -8px;
    }
    &__btn {
        color: white;
        padding: 8px 10px;
        border-radius: 6px;
        margin-left: 16px;
        background-color: #5183f5;
        &:hover {
            background-color: #364fc7;
        }
    }
}
//===SECTION===INTERVIEWS===
.interviews {
    &__row {
        padding-left: 24px;
    }
    &__content {
        padding: 24px 0;
        display: flex;
        @media (max-width: 767px) {
            border-bottom: 2px solid #f1f4f8;
        }
    }
    &__img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    &__link {
        &:hover {
            text-decoration: underline;
        }
    }
    &__title {
        color: #495057;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    &__text {
        color: #858b93;
    }
}
//===SECTION=====NEWSLETTER====
.newsletter {
    &__text {
        color: #495057;
        font-size: 18px;
        margin-bottom: 24px;
    }
    &__link {
        display: inline-block;
        font-size: 18px;
        color: white;
        padding: 21px 24px;
        border-radius: 6px;
        background-color: #5183f5;
        &:hover {
            background-color: #364fc7;
        }
        span {
            margin-right: 8px;
        }
    }
}
//====FOOTER============
.footer {
    padding: 32px 0;
    font-size: 16px;
    color: #858b93;
    &__items {
        display: flex;
        justify-content: center;
        padding: 16px 0;
    }
    &__item-link {
    }
    &__item-img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin: 0 24px;
    }
}
.footer-menu {
    &__list {
        display: flex;
        justify-content: center;
        padding: 16px 0;
        flex-wrap: wrap;
    }
    &__list-item {
        padding: 12px;
        margin: 0 8px;
        &:hover {
            border-radius: 8px;
            background-color: #f1f4f8;
        }
    }
    &__list-link {
    }
}
